.star {
    background-color: rgb(58,166,208);
    border-radius: 50%;
    width: 5px;
    height: 5px;
    position: fixed;
}

#window {
    width: 100%;
    height: 3500px;
}
#moon-am {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: fixed;
}
#moon-pm {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: white;
    position: fixed;
}
#sun {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-color: yellow;
    position: fixed;
}

.language {
    color: white;
}

.bar {
    transform-origin: bottom;
    background-color: white;
    width: 35px;
    height: 200px;
}

.wrapped {
    position: fixed;
    width: 100%;
    bottom: 1%;
}

.chart-row {
    height: 250px;
    max-width: 500px;
    margin: 0 auto;
}